# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!.prettierrc.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md
!LICENSE
!.env.example
!/workers
!/workers/analytics
!/workers/analytics/README.md
!/workers/analytics/src
!/workers/analytics/src/index.js
!/workers/analytics/wrangler.example.jsonc
